* {
    box-sizing: border-box;
}

body {
    margin: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: rgb(156, 156, 156);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(58, 58, 207);
}

.eye {
    padding: 10px;
    margin: 2px;
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 2rem;
    background: yellow;
    border-radius: 70%;
    transform: rotate(10deg);
    transition: transform 2s ease-in-out
}

.eye:hover {
    transform: rotate(360deg)
}

.eye-in {
    position: absolute;
    background-color: currentColor;
    border-radius: 100%;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    transition: transform 2s ease-in-out
}

.eye-in:hover {
    transform: rotate(360deg)
}

.eye-in>div {
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 40%;
    width: 40%;
    height: 40%;
    background-color: rgb(143, 230, 13);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-box {
    width: calc((100%/2) - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
}

.book-box>img {
    width: 250px;
    height: 350px;
    border-radius: 5%;
    transition: transform 3s ease-in-out;
}

.book-box>img:hover {
    transform: rotate(15deg);
}

a.button {
    width: 150px;
    height: 30px;
    text-decoration: none;
    padding-top: 4px;
    background-color: grey;
    color: white;
    text-align: center;
    font: normal 20px arial;
    border-radius: 5%;
}

.book-box>a:hover {
    color: rgb(247, 171, 31);
}


/* ----------description style----------*/

.description-wrapper {
    display: flex;
}

.description {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 2rem;
}

.description>a:hover {
    color: rgb(247, 171, 31);
}

@media(max-width:935px) {
    .book-box {
        width: calc((100%) - 4rem);
    }
    .description-wrapper {
        flex-direction: column;
    }
    .description {
        align-items: center;
    }
}